section {
    width: 100%;
    min-height: 100vh;
    padding: 4rem;
}

.box-design {
    background-color: #3a6a7f;
}

body {
    background-color: #f1f6f8;
}

/* menu navbar*/
.link-hover, .link-hover-items {
    color: black;
    text-decoration: none;
    transition: color 0.2s ease;
}

.link-hover:hover {
    color: #635fd4;
}

.link-hover-items:hover {
    color: #2b8bb1;
}

/* skills */
.skill-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* modules projects */
.border-line {
    height: 5px;
    width: 150px;
    background-color: #2b8bb1;
} 

.title-uf {
    color: #274c7c;
}

.imgEffect img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    transition: transform 0.2s ease-out;
    border-radius: 25px;
}

.imgEffect:hover img {
    transform: scale(1.05);
}   

.btnIframe {
    width: 42px;
    height: 40px;
    background-color: #2B2630;
    border: transparent;
}


/* dark theme */
html[data-bs-theme="dark"] {
    body {
        background-color: #0d1118;
    }

    .link-hover {
        color: rgb(170, 230, 238);
    }

    .link-hover-items {
        color: #b7b2f8;
    }

    .link-hover:hover {
        color: #2676df;
    }

    .link-hover-items:hover {
        color: #6143e9;
    }

    .landing-page {
        background-image: url('/img/dark-wall.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-bottom-right-radius: 30%;
    }

    .box-landing1 {
        width: 550px;
        height: 160px;
    }

    .comp1 {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .title {
        color: #8da6fa;
    }

    .border-line {
        height: 5px;
        width: 150px;
        background-color: #8da6fa;
    }

    .title-uf, .info-uf {
        color: #d5dfec;
    }
}