body {
    margin: 20mm;
    --box-color: #6A7C88;
}

.content {
    display: grid;
    background-color: #aad2ec;
}

div {
    background-color: var(--box-color);
    border: 1px solid white;
    color: white;
    grid-template-columns: 30% 20% auto;
    text-align: center;
    align-items: center;
}
div:nth-child(1) {
    grid-column-start: span 2;
}
div:nth-child(3) {
    grid-column-start: 1;
}
div:nth-child(4) {
    grid-column-start: span 2;
}
div:nth-child(5) {
    grid-column: span 3;
}